<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Foodiez: Where Food Lovers Unite!</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64,AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAQAABILAAASCwAAAAAA
AAAAAAD///8A////AP///wP///8B////AAAAAAAAAAAAAAAAAAAAAAD///8A////AP///wD///8A
AAAAAAAAAAD///8AAAAAAGxsbABbW1sAODg4AScnJwEqKioBMjIyASsrKwIkJCQBLCwsATExMQE9
PT0CLy8vATMzMwE1NTUAJycnAP///wBpaWkAXV1dAC4uLicoKCg6JiYmNiYmJi0nJyc1ODg4PS0t
LSsnJycqKioqOzMzM0IyMjI4IiIiBk1NTQAAAAAA8PDwAAUFBQAwMDASLS0tFSQkJB4hISEnICAg
IywsLCgmJiYkJCQkJSkpKRg5OTkZOTk5FSEhIQWBgYEA////AP///wD///8AAAAAABcXFwcYGRlF
FhcXThMVFE4TFRVZLzAwYCUlJUMcHBwF////Av///wT///8A////AP///wAAAAAA////AAYKCQAg
LCsCQTk6H2NCRT6EZ2lYYkVHX2dMTjVtbW0LucTDAf///wH///8A////AP///wAAAAAAAAAAAODX
2ABtREgAooiKIm1ESKVaKy/tp4+R+4dmafhbLTHjelRYgMy+vw6xm50A////AP///wD///8A////
AAAAAABaLTEANgADDZR3eauqk5X/Yzg8/41ucf95VFf/cUlN/7WgovuDYWR9lnl8A6KIiwD///8A
////Af///wD8/PwAAAAAAGc9QGJhNTn5kXJ1/31ZXP9tQ0X/bEFE/4lpa/+HZWj/XzI26IJfYjJ5
U1YA////AP///wD///8AvautAP///wJ1TlGkcUlN/2xDRv9kOj7/SkdZ/1A+S/9qQEP/bENG/3NM
T/+AXWBpYjY6AP///wD///8A////AP///wB0TVAEqJCSr7Gbnf+DYWP/WzQ5/zSBrf8+YoH/aDs+
/5Fydf+3o6X/pYyOdo5ucQD///8A////AP///wD///8AAAAAAGU6PZRgNDj/akFE/21ER/9TOEL/
WDY+/3JKTf9mOz7/YTU5+2xDR1VbLjIA////AP///wAAAAAA/fz8AFUlKQBoPkJNb0dK9KWLjf96
VVj/dU5Q/29GSv+JaGv/nYKF/2I2OtKQcnQlcktPAP///wD///8AAAAAAAAAAACdgYQAgV5hCqCG
iIyWeXz3XTA0/5h8fv+AXF//ZTo+/6aNj+yObnFVXC4yAIxsbgD///8A////AAAAAAAAAAAAAAAA
AFgpLQBiNjkIVCUpX1YnK7+fhYfbgmBj21gpLbNsQ0dNz8HCA6WLjgD///8A////AP///wAAAAAA
AAAAAAAAAAAAAAAAa0FFALmkqABdMDQPbUVIImk/QiFsQ0cKAAAAAP///wD///8AAAAAAP///wD/
//8Aj88AAMABAADAAQAA4AEAANABAADwAQAA8AgAAOAEAADgBgAAwAcAAAAGAAAgBgAA4AYAAOAM
AADwCAAA+C4AAA==" />
    
    {% block css %} {% endblock%}
  </head>
  <body>
    <header>
        {% include "header.html" %}
    </header>
    <main>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </main>
    <!--<footer>
        <div class="container">
           <!-- {% include "footer.html" %} 
        </div>
    </footer>-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    {% block js %} {% endblock%}
  </body>
</html>